* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  background-image: url(imgs/books.jpg);
  color: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: brown;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: burlywood;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #fdf7e9;
  color: black;
}

.navbar a.active {
  background-color: burlywood;
  color: brown;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.side {
  -ms-flex: 30%;
  flex: 30%;
  background-color: rgb(250, 231, 138);
  padding: 20px;
  text-align: center;
}

.main {
  -ms-flex: 70%;
  flex: 70%;
  background-color: rgb(252, 245, 212);
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
